@import "../../../styles/globals.scss";

.genreStyle {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    padding: 6px 12px;
    margin: 2px 0;
    cursor: pointer;
    font-family: $font-open-sans;
    font-size: 13px;
    color: $ww-brown;
    border-radius: 4px;
    transition: all 0.2s ease;

    &:hover {
      background-color: $ww-beige;
      color: $ww-orange;
    }

    &.active {
      background-color: $ww-orange;
      color: $ww-white;
    }
  }
}
