@use "./mixins" as *;

.container {
  @include container(1080px);
}
.grid {
  display: grid;
  gap: 16px;
}

/* Spacing helpers */
.mt-1 {
  margin-top: 4px;
}
.mt-2 {
  margin-top: 8px;
}
.mt-3 {
  margin-top: 12px;
}
.mt-4 {
  margin-top: 16px;
}
