@import "../../styles/globals.scss";

.navbarStyle {
  display: grid;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  // padding: 20px 0;
  border-bottom: solid 1px $ww-brown;
  margin-bottom: 24px;

  h3 {
    font-family: $font-titillium;
    font-size: $logo-size;
    font-weight: $weight-black;
    color: $ww-orange;
    margin: 0;
    padding: 0;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0;
    padding: 0;
    justify-self: end;

    li {
      list-style-type: none;
      text-decoration: none;
      font-family: $font-titillium;
      font-weight: $weight-regular;
      font-size: 18px;
      transition: all 0.2s ease;
      cursor: pointer;

      a {
        text-decoration: none;
        font-weight: $weight-regular;
        font-size: 18px;
        color: $ww-brown;
        text-transform: uppercase;
      }
    }

    li:hover a {
      color: $ww-orange;
    }
  }
}
.cartIcon {
  display: flex;
  justify-content: end;
  font-size: 24px;
  padding-top: 20px;
  color: $ww-brown;
  cursor: pointer;

  &:hover {
    color: $ww-orange;
  }
}
